.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#liBtn {
  margin: 5px;
}


#actionBtns {
  border-bottom:none !important;
}

#commentTextarea {
  resize: none !important;
  overflow: auto !important;
  background-color:white !important;
}

.delBtn {
  float: right;
}

#skip{
  background-color:white;
  text-decoration: underline;
  font-style: italic;
  color:black;
  border:none;
}

#skip:focus{
  outline:none;
  border:none;
}

#content {
  box-shadow: 1px 1px 5px #555 inset;
  margin:5px;
}

#childPhoto {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  /* border:none; */
  margin:10px auto 10px auto;

}

#milestoneImg {
  height:35px;
  width:35px;
}

#showCommentBtn{
  border: none;
  background-color:inherit;

}

/* #postHeader {
  background-color: rgb(218, 98, 118);
  border-radius: 2%;
} */
/* 
#milestone {
  text-align:center;
  z-index: 2;
  /* border: black solid 1px; */
  /* width: 50%;
  margin:20px auto;
  box-shadow: 0px 8px 6px #888888;
  padding:20px;
  float:right; */
/* } */ 
.moveright {
  margin-left:5%;
  border-radius: 2%;
  /* width: 50%; */
  width: 35%;
}

.timelineDate {
  margin:0 auto;
  width:100px;
  height:100px;
  border:solid black 1px;
  padding-top:35px;
  text-align:center;
  /* display:inline-block; */
  /* margin-left:auto;
  margin-right:auto; */
  /* display:block; */
  border-radius: 50%;
}

.moveleft {
  margin-left:60%;
  /* margin-top:10px; */
  /* width: 50%; */
  width: 35%;
}

.divider {
  /* display:inline-block; */
  /* float:left; */
  left:-10% !important;
  z-index:-1 !important;
  height: 110% !important;
  /* border-right: solid black 1px !important; */
  /* margin-right: 20px !important; */
  /* top:0% !important; */
}

#p {
  background-color:white;
}

#editTextarea {
  height: 10% !important;
  resize: none !important;
  overflow: auto !important;
}

.ui.vertical.divider::after, 
.ui.vertical.divider::before {
  z-index: -1 !important;
}

#circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display:inline-block;
  right: -18%;
  position:relative;
  border: solid black 1px;

}


.post {
  margin: 2em auto;
  width: 50%;
	position: relative;
	color: rgba(black, .7);
  box-shadow: 0px 8px 6px #888888;
}

.postOutline {
  margin: 2em auto;
  width: 60%;
  position: relative;
}

#postLine {
  border-left: solid black 4px;
  width: 1px;
}

/* .post:before {
  content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: inline;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .785rem;
} */



.milestone {
   padding: 0em 0em 3em 0em;
   position: relative; 
   margin: 2em auto;
   box-shadow: 0px 8px 6px #888888;


   /* z-index:1000; */
   /* background-color:rgb(185, 206, 211); */
   /* float:right; */
   /* display: inline-block; */
   /* display:flex; */
   /* position:fixed; */
   /* border: black solid 1px; */
   /* margin-left:60%; */
   /* margin-top:10px; */
   width: 50%;
   /* width: 35%; */
   text-align:center;
   /* margin:20px auto; */
   /* margin: 10px; */
   /* right:0; */
   /* right:0px; */
   /* box-shadow: 0px 5px 8px 0px #999898; */
}

#postSummary {
  display:inline-block;
  padding: 10px;
}

.milestoneContent {
  padding-top: 2em;
}

#postDate {
  display:inline-block;
  color:rgb(138, 138, 138);
}

#postBody {
  margin: 0 10% 0 10%;
}

.postContent {
  margin-bottom: 10px;
}

#postComments {
  display:inline-block;
}

#likes {
  display:inline-block;
  padding:auto;
}

#postFooter {
  margin:10px;
}

#userInfo {
  padding-top:0px !important;
  padding-bottom:0px !important;
}

#childInfo {
  text-align: center;
}

#profpicThumbnail {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin:10px;
}

#name {
  font-family: cursive;
  text-align:center;
  margin:20px 20px 0px;
  padding: auto auto 0px;
  height: 50px;
}

#thumbnail {
  max-height: 100px;
  margin: 2px;
}

.postFormTn {
  max-height:60px;
  display:inline-block;
  margin: 2px;
}

#formFooter {
  float:right;
}
/* 
#displayPhoto {
  max-height:200%;
} */


.myMedia {
  height: 250px;
  width:auto;
  display:inline-block;
  padding: 15px;
}

#photos {
  margin:0 3% 0 3%;
}

#liked {
  color: red !important;
}

#unliked {
  color: black !important;
}

#unliked:hover{
  color: red !important;
}

#likes:hover {
  cursor: pointer;
}

#centerLine {
  top:15%;
  height:100%;
  width:0px;
  border: solid black 2px;
  /* display:inline-block; */
  z-index:-2;
  position:fixed;
  /* position: static; */
  margin-left:50%;
  /* margin: auto 0px auto 0px; */
}


#line {
  text-align:center;
  padding-bottom:20px;
  height:0px;
  /* margin:10% 50%; */
  margin-left:40%;
  /* margin-right:50%; */
  margin-top:1%;
  /* padding:10% 50%; */
  width:10%;
  float:left;
  z-index:-1;
  /* position:fixed; */
  /* display:flex; */
  /* display:inline-block; */
  /* position:fixed; */
  border-bottom:solid black 4px;
}

#milestoneLine {
  height:20px;
  padding-bottom:20px;
  /* margin:10% 50%; */
  margin-right:40%;
  margin-top:1%;
  /* padding:10% 50%; */
  width:10%;
  float:right;
  z-index:-1;
  text-align:center;
  /* text-align:center; */
  /* position:fixed; */
  /* display:flex; */
  /* display:inline-block; */
  /* position:fixed; */
  border-bottom:solid black 4px;
}

body {
  margin-top:100px;
  /* background-color: #F8F8FF; */
}

#date {
  margin-left:auto;
  display:inline-block;
}


#displayPhoto {
  max-height: 100vh;
}

#none {
  text-align: center;
  color:lightgray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dropdown {
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#homepage {
  /* border: solid black 1px; */
  /* width: 60%; */
  /* height: 50%; */
  margin:5% 10% 5% 10%;
  text-align:center;
  padding: 50px;
}

#homepage h3 {
  margin-top:25px;
}

#navBarLinks {
  margin-left: 90%;
}

#navBarLink {
  display:inline-block;
}

#milestoneCard {
  text-align:center;
}

#card {
  margin-bottom: 30px;
  width: 1000px;
  background-color: white;
  padding: 20px;
}

video {
  max-height: 500px;
}

.ui.modal {
  text-align:center !important;
}


#displayVideo {
  max-height: 90vh;
  margin-right:auto;
  margin-left:auto;
  outline:none;
}

#displayVideo:focus {
  outline:none;
}

#actionBtn {
  border-radius: 0%;
  background-color: lightskyblue;
  border:black solid 1px;
  color:black;
}
#navBar {
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}

#actionBtn:hover {
  background-color: blue;
}


#timelineHeader {
  text-align:center;
  margin:20px;
}

#childPage {
  margin-top:0px;
  top:0;
  /* background-color: #F8F8FF; */
  background-color:white;

}

#timelineBtns > .item {
  margin: 0% 2.5% !important;
  /* background-color:white; */
}

#timelineBtns > .item:hover {
  color: rgb(102, 71, 71) !important;
}

#actionBtns > .item {
  margin: 0px 5% !important;
  /* background-color:white; */
}

#children {
  overflow:auto !important;
  max-height: 200px !important;;
}

#timelineBtns {
  margin-top: 10px;
  /* border-top: solid rgba(0, 0, 0, 0.479) 1px; */
}

#childInfo > #birthday {
  border-bottom: solid black 1px;
  margin: 0% 40%;
  padding-bottom: 1.5%;
}

.modal {
  left: auto !important;
  top: auto !important;
  padding: 0px !important;
  background: none !important;
  box-shadow: none !important;

}


.modal img {
  margin-left:auto;
  margin-right:auto;
  display:block;
}


#logInForm {
  width:35%;
  height:50%;
  border:solid black 1px;
  margin:2% auto;
  padding: 50px;
  background-color: white;
}
